# RUN pip install pexpect glob2 beautifulsoup4==4.9.3 requests==2.2.1 isodate nltk==3.4.5 colorama paramiko==1.18.3 matplotlib==1.1.1 feedparser==4.1 opencv-python==3.1.0.0 SpeechRecognition google-api-python-client==1.6

# https://github.com/grpc/grpc/issues/23190
pip uninstall rsa
pip install -v rsa==4.0



